<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inc.admin.dao.biz.BatchDao">



	<insert id="save" parameterType="com.inc.admin.domain.biz.Batch"
		useGeneratedKeys="true" keyProperty="id">
		insert into sys_role
		(
		`id`,
		`details`,
		`score`,
		`recommendation`,
		`createtime`,
		`operator`
		)
		values
		(
		null ,
		#{details},
		#{score},
		#{recommendation},
		#{createtime},
		#{operator}
		)
	</insert>


</mapper>
